[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "==4.4.1"
requests = "*"
wheel = "*"
setuptools = "*"
pytest-runner = "==4.4"
ipython = "*"
mock = "*"
aiohttp = "*"
numpy = "==1.20.3"
env-canada = "==0.0.35"
ephem = "==3.7.7.0"
fastjsonschema = ">=2.14.4"
geocoder = "==1.38.1"
gpiozero = "==1.5.1"
noaa-sdk = ">=0.1.18"
printtools = "==1.2"
pyinstaller = "==3.6"
python-tsl2591 = "==0.2.0"
questionary = ">=1.5.2"
regex = ">=2020.4.4"
lastversion = ">=1.1.6"
nameparser = "==1.0.6"
dbus-next = "*"
iso6709 = "*"
"RPi.GPIO" = "==0.7.0"
APScheduler = ">=3.6.3"
Pillow = ">=8.0.0"
ipinfo = ">=4.4.2

[dev-packages]

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
